
        body {
            background-color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #ffcccb; /* Pale pink color */
            text-align: center;
            padding: 20px;
            font-style: italic;
            font-size: 25px;
        }
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
        }
        .img1, .img2 {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 100%;
            height: auto;
        }
        .content1 {
            font-size: 40px;
            font-style: italic;
            color: black;
            text-align: center;
            margin: 20px;
            width: 100%;
        }
        .the {
            font-size: 20px;
        }
        @media (max-width: 1024px) {
            .header {
                font-size: 22px;
                padding: 15px;
            }
            .content1 {
                font-size: 35px;
            }
        }
        @media (max-width: 768px) {
            .header {
                font-size: 20px;
                padding: 15px;
            }
            .content1 {
                font-size: 30px;
            }
        }
        @media (max-width: 480px) {
            .header {
                font-size: 18px;
                padding: 10px;
            }
            .content1 {
                font-size: 25px;
            }
        }
    

        
